*{
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.box {
  border: 1px solid black;

 }

 .boxColor {
  background-color: pink;
 }

.container {
  display: flex;
  }
  #btn{
    display: block;
    margin-bottom: 20px;
  }